


<ion-content  class=" no-scroll simplexml preload locale-en ion-content">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  


<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav" style="width:250px; background-color: #DAAD86;" >
      <img [src]="sanitize(Image1)" style="display:block;width:280px;height:220px;margin-left:auto;margin-right:auto;" /> <br>
     
      <ul class="nav nav-pills nav-stacked">
        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="pushToDashboard()" clear>  <ion-icon name="construct"></ion-icon>Tableau de board</button></ion-item></li>
        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="PushToReservation()" clear>  <ion-icon name="briefcase"></ion-icon> Reservation</button></ion-item></li>

        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="PushToGA()" clear><ion-icon name="clipboard"></ion-icon> Gestion d'article</button></ion-item></li>
        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="PushToGC()" clear> <ion-icon name="people"></ion-icon> Clients</button></ion-item></li>
        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="PushToFournisseurs()" clear> <ion-icon name="people"></ion-icon>  Fournisseurs</button></ion-item></li>
        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="PushToCaise()" clear><ion-icon name="logo-usd"></ion-icon>  Caise </button></ion-item></li>
        
        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="GoToService()" clear>  <ion-icon name="construct"></ion-icon>Services</button></ion-item></li>
        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="GoToFactures()" clear>  <ion-icon name="clipboard"></ion-icon>Factures</button></ion-item></li>
        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="PushToEP()" clear> <ion-icon name="logo-usd"></ion-icon>Etat de prevision</button></ion-item></li>
        <li ><ion-item style=" background-color: #DAAD86; height:40px;"><button ion-button color="beige" (click)="Logout()" clear>  <ion-icon name="log-out"></ion-icon>Deconnexion</button></ion-item></li>

      </ul><br>

    
    </div>



    <div class="col-sm-9">
      <br><br><br>

      <h1>Fiche de services </h1>
        

<br><br>           

          <ion-list>
            <h5 class="marge"> Identifiant : SRV-{{id}} </h5> 

            <h5 class="marge"> Date : {{date}} </h5> 


            <h5 class="marge"> Cout : {{cout}} </h5>



            <h5 class="marge"> Fournisseur de Service : {{fournisseur}} </h5><br><br>
            <h5 class="marge reste "> Reste : {{reste}} </h5>


    

          </ion-list>


          <br><br>
          <h4>Liste des payement en cheque </h4>
          <br>
          <table class="table table-hover" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date de Depot</th>
                  <th scope="col">Date de Virement</th>
                  <th scope="col">proprietaire</th>
                  <th scope="col">Etat</th>
                  <th scope="col">Montant</th>

               
                <th></th>
                
              </tr>
            </thead>
            <tbody>
                 

                    <tr  *ngFor="let item of cheques " >
                      <th scope="row" class="counterCell" >{{row}}</th>
                      <td>{{item.DateDepot}}</td>
                      <td>{{item.DateVirement}}</td>
                      <td>{{item.proprietaire}}</td>
                          <td>  <div *ngIf="item.etat==false;else other_content">
                              non en caisse
    
                          </div>
                          <ng-template #other_content>   en caisse</ng-template>
                        </td>

                     
                      <td>{{item.montant}}</td>

                    </tr>

                    <tr >
                        <th  >Somme</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{chequetotal}}</td>
                      
          
                      </tr>

                    
                    
                      
            </tbody>
          </table>
          


          
         
          <br><br>
          <h4>Liste des payement en espece </h4>
          <table class="table table-hover" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date de payement</th>
                  <th scope="col">Montant</th>
                
               
                <th></th>
                
              </tr>
            </thead>
            <tbody>
                 

                    <tr  *ngFor="let item of especes " >
                        <th scope="row" class="counterCell" >{{row}}</th>
                    
                        <td>{{item.payementDate}}</td>
                        <td>{{item.montant}}</td>
                      
          
                      </tr>
                      
                      <tr >
                        <th >Somme</th>
                        <td></td>
                        <td>{{especetotal}}</td>
                      
          
                      </tr>
                      
            </tbody>
          </table>
          



         



          

<h3>Payement</h3>
         
          <ion-card>
              <ion-card-header>
                <h5>Chéque :</h5>  
              </ion-card-header>

  
          <ion-card-content>
            <ion-item>
              <ion-label>Date d'ajout</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD	 " min="2016-12-31" max="2028-12-31"  [(ngModel)]="depot">{{depot}}</ion-datetime>
            </ion-item>
        
            
  
           
            <ion-item>
              <ion-label>Date de versement</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD	 " min="2016-12-31" max="2028-12-31"  [(ngModel)]="virement">{{virement}}</ion-datetime>
            </ion-item>
        
         
  
            <ion-item>
              <ion-label>Montant </ion-label>
              <ion-input type="number" [(ngModel)]="montantch">{{montantch}}</ion-input>
            </ion-item>
  
            <p>--Cheques--<p>
              <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
              <br>
          <select class="form-control" [(ngModel)]="numcheque" style="width:300px; " >
              <option   >------------------------</option>
  
  
              <option  *ngFor="let item of result "  >{{item}}</option>
  
              </select>
  
  
  
            <button type="button" class="btn btn-secondary" (click)="anncheque()" >Annuler le cheque</button>
  
          </ion-card-content>
          </ion-card>
          
        <ion-card>

          <ion-card-content>
            <ion-card-header>
              <h5>Espece :</h5>  
            </ion-card-header>

              <ion-item>
                  <ion-label>Montant </ion-label>
                  <ion-input type="number" [(ngModel)]="montantes"></ion-input>
                </ion-item>
  
                
                    
      <ion-item>
        <ion-label>Date de payement</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD	 " min="2016-12-31" max="2028-12-31"  [(ngModel)]="payementDate">{{payementDate}}</ion-datetime>
      </ion-item>

      <p>--Caises--<p>
        <br>
    <select class="form-control" [(ngModel)]="caise" style="width:300px; " >


        <option  *ngFor="let item of caises "  >{{item}}</option>

        </select>

  
      <button type="button" class="btn btn-secondary" (click)="annespece()" >Annuler l'espece</button>
  
  
          </ion-card-content>
        </ion-card> 
  
  
  <br>
          <div> 
            <button ion-button  (click) ="add()" color="primary">Confirmer l'ajout</button>
       </div>
  
  
          
      

          
</div>
</div>
</div>

</ion-content>
